* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree Variable", sans-serif;
  font-size: 2rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }
}

#button {
  cursor: pointer;
}

#text {
  position: fixed;
  inset: 0;
  display: flex;

  flex-direction: column;
  justify-content: center; 
  align-items: center;      
  text-align: center;       
  gap: 1rem;
}



#button {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

[hidden] {
  display: none !important;
}
